<!doctype html>
<html lang="en">
    <head>
        <title>Posts</title>
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>

        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </header>

        <main role="main">
            <div class="container mt-4 mb-5">
                <div class="row">
                    <section class="col-md-12 col-lg-9">
                        
                        <h3>
                            <span>
                                All Posts
                            </span>
                        </h3>

                        <article class="article-post-summary" lang="en-us">
                            <div class="post-date-box d-none d-md-block font-sairas">
                                <div class="post-date-day">
                                    19
                                </div>
                                <div class="post-date-month text-white">
                                    OCT
                                </div>
                            </div>
                            <div class="post-summary-box d-block">
                                <time datetime="2019-10-18 19:25:29Z" class="d-none">
                                    10/18/2019 7:25:29 PM
                                </time>

                                <h4 class="post-summary-title mb-3">
                                    <a href="/post/2019/10/18/toshowdoc">
                                        ToShowDoc拯救不想写文档的你
                                    </a>

                                </h4>

                                <p class="post-summary-text">写注释已经够折磨开发者了,显然天天curd的我们再去写文档岂不是分分种要被逼疯.我想每个人都有这种经历 加了一个参数文档忘了更新 参数名更改文档忘了更新 删掉一个接口文档忘了更新 ....... 各种忘了更新 已经有Swagger的我们慢慢的已经忘掉了写文档这件事. 但是在某些不方便暴露swagger地址的那天,又回忆起被文档支配的恐惧. What is ToShowDoc showdoc是一个文档供应商,它提供了一个良好的结构易于开发者编写文档. 也提供了api供开发者自动生成文档. 现在toshowdoc把它带到了net core中toshowdoc是一个在github上开源项目,来自被文档折磨的我. toshowdoc将swagger的文档转换为showdoc的格式并自动添加与更新,下面介绍一下如何使用toshowdoc自动生成文档 GetStart 安装之前需要你的机器具有&nbsp;…</p>
                                <div class="post-summary-tags pt-2">
                                    <a class="d-inline-block me-1 btn btn-sm btn-accent" href="/tags/showdoc">
                                        ShowDoc
                                    </a>
                                    <a class="d-inline-block me-1 btn btn-sm btn-accent" href="/tags/dotnettools">
                                        DotNetTools
                                    </a>
                                </div>
                            </div>
                        </article>
                        <div class="mb-4 d-none d-md-block"></div>
                        <hr class="d-none d-md-block">

                    </section>
                </div>
            </div>
        </main>

        <script src="libs/jquery/jquery.min.js"></script>
        <script src="libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    

    </body>
</html>
